#calc
{
    width: 390px;
    background-color: #eeeeee;
    border: 2px solid #CCCCCC;
    margin: auto; /*centre la calculatrice dans la page */
    padding: 15px;
}

#titre
{
    font-weight: bold;
}


#ligne_affichage
{
    margin-top:10px;
}

#zone_affichage
{
    font-size:20px;
    text-align:right;
    width:352px;
}

.ligne_boutons
{
    margin-top:5px;
    margin-bottom:5px;
}

input /* pour mettre les boutons cote a cote*/
{
    display:inline-block;
}

.bouton_classique /* boutons non editable */
{
    width:60px;
    font-size:18px;
    padding:0px;
    margin:auto;
}

.bouton_libre /* boutons editables */
{
    width:110px;
    font-size:20px;
    padding:0px;
    margin:auto;
}
